<div>
  <a
    href="https://github.com/SX-7/bubbling-fountain"
    target="_blank"
    aria-label="Link to bubbling-fountain github page"
  >
    {% include "../elements/svg-icons/github.html" %}
  </a>
  <div class="py-2">
    Pretty simple python app, intended for Termux, that just got unmaintainable
    due to many, many ad-hoc fixes.
  </div>
  <div class="py-2">
    In the end, I got stuck on implementing a nice looking speechbubble, and
    just decided to archive the project, indefinitely. Coincidentally, the trend
    also died down already, so I'm probably not returning to it.
  </div>
  <div class="text-opium-500 text-center italic">
    <div class="grid grid-flow-col items-center justify-center">
      <img
        src="../images/projects/bubbling-start.webp"
        alt="Master Chief laying on the floor"
        class="rounded-3xl"
      />
      <img
        src="../images/projects/bubbling-mid.png"
        alt="App working on the previous image"
        class="rounded-3xl"
      />
      <img
        src="../images/projects/bubbling-end.gif"
        alt="Result image"
        class="rounded-3xl"
      />
    </div>
    <div class="pt-2">
      As can be seen, not only is the usability bad due to very limited
      resolution of terminal displays, but the end result is less asthetically
      pleasing than commonly found alternatves - even though the user can adjust
      speechbubble height and pointer position, the bubble isn't pretty.
    </div>
  </div>
</div>
