<div>
  <div>
    Pretty simple python app, intended for Termux, that just got unmaintainable
    due to many, many ad-hoc fixes through mobile phone.
  </div>
  <div class="text-center italic text-opium-800">
    Some screenshots of the app running
  </div>
  <div>
    Lack of wide screen, and no proper, sensible dev enironment led to fixes
    that looked good locally, but just messied up the code globally.<br />
    Also, I feel like I fell victim to some sort of scope creep. Or maybe it was
    just me meeting harsh reality of doing anything longer than 50 lines and one
    level of nesting.
  </div>
  <div class="text-center italic text-opium-800">
    Some screenshots of the messed up code
  </div>
  <div>
    In retrospection what definitely would've helped was getting some
    abstractions going, objects, (even singletons), and overall making the code
    sensible, and readable.<br />
    Not "Ummm, is it x then y, or y then x? And are they from top, or bottom?".
  </div>
  <div>
    In the end, I got stuck on implementing a nice looking speechbubble, and
    just decided to archive the project, indefinitely. Coincidentally, the trend
    also died down already, so I'm probably not returning to it.
  </div>
  <div class="text-center italic text-opium-800">
    My app's results, compared to commonly found speechbubbles. Make sure to
    highlight accurate speechbubble end, but also terrible joining work. Zoom
    these in if it's necessary to see them properly. Add hrefs to original art.
  </div>
</div>
