<div class="indent-4">
  Pretty simple python app, just got unmaintainable due to many, many ad-hoc
  fixes through mobile phone. Lack of wide screen, and no proper, sensible dev
  enironment led to fixes that looked good locally, but just messied up the code
  globally. Also, I feel like I fell victim to some sort of scope creep. Or
  maybe it was just me meeting harsh reality of doing anything longer than 50
  lines and one level of nesting. In retrospection what definitely would've
  helped was getting some abstractions going, objects, (even singletons), and
  overall making the code sensible, and readable. <br />Not "Ummm, is it x then
  y, or y then x? And are they from top, or bottom?".
</div>
