<div>
  <svg
    viewBox="0 0 98 96"
    width="24"
    height="24"
    xmlns="http://www.w3.org/2000/svg"
    fill="#fff"
    class="float-right my-4 ml-4 mr-2 hover:fill-danube-600"
    @click="window.open('https://github.com/SX-7/pxl3dengine','_blank')"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
    />
  </svg>
  Picture this:<br />
  - Python, one of the slowest languages.<br />
  -
  <a
    class="text-danube-400 underline hover:text-opium-500"
    href="https://github.com/kitao/pyxel"
    >Pyxel</a
  >, a Python framework for PICO-8-inspired video game programming.<br />
  And now try to make a 3D video game engine on top of it. With rasterization.
  No scanlines, no ray casting, just your average OpenGL rendering pipeline.<br />
  <br />
  <div class="text-center font-bold italic text-rangoon_green-400">
    ... yeah, it's definitely the funniest thing I've done.
  </div>
  <br />
  That being said, it was also an extremely interesting and educative
  experience. Pretty much the only reason it's now sitting at the backburner is
  me not feeling inspired enough to do something (3D game engine) that was done
  many, many times before. Also the energy drain of debugging minor issues, and
  having to come up with algorithmic solutions yourself is tremendous. The final
  nail in the coffin was the need to implement the rasterization part of the
  pipeline, also with custom shaders and all. It didn't fall victim to
  unreadable code as much as the speechbubble maker did, but having to
  restructure the code greatly in order to allow it to work with these new
  features left it in pretty much the same position, sadly. For the time being,
  at least.
  <div class="text-center italic text-opium-500">
    <div class="grid grid-flow-col justify-evenly p-2">
      <img
        src="static/projects/pyxel.png"
        alt="Viewport of app"
        class="rounded-3xl"
      />
      <img
        src="static/projects/pyxel-wire.png"
        class="rounded-xl"
        alt="Same as before, but wireframe mode"
      />
    </div>
    While the face culling (and, not seen here, clipping) are implemented,
    custom shaders and z-clipping are not. Rasterization overall just doesn't
    exist, and while the pipeline stops just before it, doing it would require a
    lot of additional work in earlier stages.
  </div>
</div>
