<div>
  Picture this:<br />
  - Python, one of the slowest languages.<br />
  - Pyxel, a Python framework for PICO-8 (think 2D and big pixels) inspired
  video game programming.<br />
  And now try to make a 3D video game engine on top of it. With rasterization.
  No scanlines, no ray casting, just your average OpenGL rendering pipeline.<br />
  <br />
  <div class="text-center font-bold italic text-rangoon_green-400">
    ... yeah, it's definitely the funniest thing I've done.
  </div>
  <br />
  That being said, it was also an extremely interesting and educative
  experience. Pretty much the only reason it's now sitting at the backburner is
  me not feeling inspired enough to do something (3D game engine) that was done
  many, many times before. Also the energy drain of debugging minor issues, and
  having to come up with algorithmic solutions yourself is tremendous. The final
  nail in the coffin was the need to implement the rasterization part of the
  pipeline, also with custom shaders and all. It didn't fall victim to
  unreadable code as much as the speechbubble maker did, but having to
  restructure the code greatly in order to allow it to work with these new
  features left it in pretty much the same position, sadly. For the time being,
  at least.
</div>
