{% macro image_sizes() %}
  (96em <= width) 96em, (80em <= width < 96em) 80em, (64em <= width < 80em)
  64em, (48em <= width < 48em) 48em, (20em <=width < 40em) 40em, (width < 20em)
  20em
{% endmacro %}
