{% macro image_sizes() %}
  (96em <= width) 1536px, (80em <= width < 96em) 1280px, (64em <= width < 80em)
  1024px, (48em <= width < 48em) 768px, (20em <=width < 40em) 640px, (width <
  20em) 320px
{% endmacro %}
