{% from "svg-icons.njk" import cog %}
<nav
  class="from-danube-950 via-danube-900 to-danube-950 shadow-slate-950 rounded-b shadow-xl text-md top-0 sticky z-50 flex w-full flex-row items-center justify-center bg-gradient-to-r select-none"
>
  <div class="flex-grow"></div>
  {% set nav_pages = collections.all | eleventyNavigation %}
  {%- for direction_data in nav_pages %}
    <div
      class="p-4 hover:text-danube-600 {{ 'text-opium-400' if direction_data.url==page.url else 'text-danube-200' }} cursor-pointer subpixel-antialiased"
    >
      <a href="{{ direction_data.url }}"> {{ direction_data.title }} </a>
    </div>
  {%- endfor %}
  <div class="flex-grow"></div>
</nav>
