<footer
  class="group bottom-0 gap-2 rounded-t-md from-slate-950 to-slate-800 p-2 text-gray-700 outline-slate-800 md:w-min md:outline-4 hover:md:outline-slate-700 ease-in-out flex w-screen flex-row items-center justify-center place-self-center bg-linear-to-t outline-0 transition-colors duration-1000 select-none"
>
  <!-- Footer -->
  <div
    class="ease-in-out group-hover:text-gray-300 text-nowrap transition duration-1000"
  >
    Made by
  </div>
  <div class="h-4 w-8 relative">
    <div
      class="-inset-4 ease-in-out absolute place-self-center opacity-0 transition duration-1000 group-hover:opacity-100"
    >
      <img
        class="crisp-image h-[16px] w-[16px]"
        src="{{ '../static/favicon.ico' | url }}"
        srcset="../static/favicon-x16.png 16w, ../static/favicon-x32.png 32w"
        alt="Page icon"
        eleventy:ignore="eleventy:ignore"
      />
    </div>
    <div
      class="-inset-4 ease-in-out absolute place-self-center opacity-100 transition duration-1000 group-hover:opacity-0"
    >
      SX_7
    </div>
  </div>
</footer>
