<footer
  class="bottom-0 gap-2 rounded-t-md from-slate-950 to-slate-800 p-2 text-gray-700 outline-slate-800 md:w-min md:outline-4 hover:md:outline-slate-700 ease-in-out flex w-screen flex-row items-center justify-center place-self-center bg-linear-to-t outline-0 transition-colors duration-1000 select-none"
>
  Made by SX_7
</footer>
