{% set css %}{% include "../static/css/tailwind.css" %}{% endset %}
{# Empty page that's shared across ALL pages, with every page adding their own content #}
{# Basically the more repeating stuff it takes from individual pages, the better #}
<!DOCTYPE html>
<html
  lang="en"
  class="scroll-smooth"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    {# Front Matter consumer #}
    <meta
      name="description"
      content="{{ description }}"
    />
    {# Fast fonts blob #}
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>
    {# CSS blob #}
    <!-- prettier-ignore-start -->
    <style>
	    {{ css | cssmin | safe }}
    </style>
    <!-- prettier-ignore-end -->
    {# Alpine Plugins #}
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
    ></script>
    {# Alpine #}
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    {# Front Matter consumer #}
    <title>{{ active_page }} - SX_7</title>
    {# Could be optimized, but this way it's responsive and works on most #}
    <link
      rel="icon"
      type="image/png"
      href="{{ '../static/favicon-96x96.png' | url }}"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ '../static/favicon.svg' | url }}"
    />
    <link
      rel="shortcut icon"
      href="{{ '../static/favicon.ico' | url }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '../static/apple-touch-icon.png' | url }}"
    />
    <meta
      name="apple-mobile-web-app-title"
      content="SX7"
    />
    <link
      rel="manifest"
      href="{{ '../static/site.webmanifest' | url }}"
    />
  </head>
  <body
    class="bg-slate-950 font-noto bg-[url(../static/topography.svg)] bg-size-[2000px]"
  >
    <div class="flex min-h-screen flex-col">
      {# Content, since this is a child template and not parent one, interestingly #}
      <main class="flex grow flex-col">
        {%- block content %}
        {% endblock %}
      </main>
    </div>
  </body>
</html>
