<nav
  class="from-danube-950 via-danube-900 to-danube-950 shadow-slate-950 rounded-b shadow-xl text-md sticky flex w-full flex-row justify-center bg-gradient-to-r select-none"
>
  {# https://laracasts.com/discuss/channels/javascript/alpine-js-cant-x-bind-styles-inline #}
  {%- for direction_data in pages %}
    <div
      x-data=""
      class="p-4 hover:text-danube-600 {{ 'text-opium-400' if direction_data['id']==id else 'text-danube-200' }} cursor-pointer subpixel-antialiased"
      @click="location.href='{{ direction_data['path'] }}'"
    >
      {{ direction_data['title'] }}
    </div>
  {%- endfor %}
</nav>
