{# Empty page that's shared across ALL pages, with every page adding their own content #}
{# Basically the more repeating stuff it takes from individual pages, the better #}
<!DOCTYPE html>
<html
  lang="en"
  class="bg-gray-950 text-slate-100 scroll-smooth"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    {# Front Matter consumer #}
    <meta
      name="description"
      content="{{ description }}"
    />
    {# Fast fonts blob #}
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>
    {# CSS blob #}
    <!-- prettier-ignore-start -->
    <style type="text/css">
    {% include 'bundle-css.njk' %}
    </style>
    <!-- prettier-ignore-end -->
    {# Front Matter consumer #}
    <title>{{ title }} - SX_7</title>
    {# Could be optimized, but this way it's responsive and works on most #}
    <link
      rel="icon"
      type="image/png"
      href="/static/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/static/favicon.svg"
    />
    <link
      rel="shortcut icon"
      href="/static/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/apple-touch-icon.png"
    />
    <meta
      name="apple-mobile-web-app-title"
      content="SX7"
    />
    <link
      rel="manifest"
      href="/static/site.webmanifest"
    />
  </head>
  <body class="flex min-h-screen flex-col">
    {% include "navbar.njk" %}
    <div class="flex grow flex-row">
      {% set children = collections.all | eleventyNavigation(eleventyNavigation.key) %}
      {% if not type and children.length > 0 %}
        <div class="bg-gray-900">
          <h3>{{ eleventyNavigation.parent or "Section" }}</h3>
          <ul>
            {%- for child in children -%}
              <li><a href="{{ child.url }}">{{ child.title }}</a></li>
            {%- endfor -%}
          </ul>
        </div>
      {% endif %}
      <main class="p-4 flex grow flex-col">
        <div class="prose lg:prose-xl prose-invert prose-slate">
          {{ content | safe }}
        </div>
        {% if type == "category" %}
          <div class="p-2 gap-4 flex flex-row flex-wrap">
            {%- for child in children -%}
              <a
                href="{{ child.url }}"
                class="rounded-lg p-2 flex flex-row place-content-center place-items-center border-2 border-dashed text-center"
              >
                <img
                  src="_images/folder.png"
                  alt=""
                  class="w-16"
                />
                <p class="p-2 lowercase">./{{ child.title }}</p>
              </a>
            {%- endfor -%}
          </div>
        {% endif %}
      </main>
    </div>
  </body>
</html>
