{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "quoteProps": "consistent",
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-jinja-template"],
  "tailwindStylesheet": "./app/static/css/tailwind.css",
  "overrides": [
    { "files": ["*.njk"], "options": { "parser": "jinja-template" } }
  ]
}
