---
layout:
eleventyNavigation:
  hide: true
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>SX7 - Decap</title>
    <link
      href="config.yml"
      type="text/yaml"
      rel="cms-config-url"
    />
    <link
      rel="icon"
      type="image/png"
      href="/static/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/static/favicon.svg"
    />
    <link
      rel="shortcut icon"
      href="/static/favicon.ico"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/apple-touch-icon.png"
    />
    <meta
      name="apple-mobile-web-app-title"
      content="SX7 - Decap"
    />
    <link
      rel="manifest"
      href="/static/site.webmanifest"
    />
  </head>
  <body>
    <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
    <script
      id="bundle-css-source"
      type="text/plain"
    >
      {% include 'bundle-css.njk' %}
    </script>
    <script>
      const bundledCSS =
        document.getElementById("bundle-css-source").textContent;
      CMS.registerPreviewStyle(bundledCSS, { raw: true });

      const PostPreview = createClass({
        render: function () {
          const entry = this.props.entry;
          const body = this.props.widgetFor("body");

          return h(
            "div",
            {
              className: "bg-gray-950 min-h-screen p-8",
            },
            h(
              "div",
              {
                className: "prose lg:prose-xl prose-invert prose-slate",
              },
              body,
            ),
          );
        },
      });

      CMS.registerPreviewTemplate("projects", PostPreview);
    </script>
  </body>
</html>
