---
active_page: Home
id: 0
description: Nigh-blank homepage with a greeting
---

{% extends "../elements/layout.njk" %}
{% block content %}
  <main
    class="text-lg gap-4 text-danube-200 flex grow flex-col items-center justify-center text-center"
  >
    <p>Hello, and welcome to my website!</p>
    <p>This is just a content hub.</p>
  </main>
{%- endblock %}
