services:
  web:
    image: python:3.14-alpine
    volumes:
      - ../..:/workspaces:cached
    working_dir: /workspaces/${repobasepath}
    environment:
      PORT: 5000
    entrypoint: ["/bin/bash", "-c"]
    command:
      - |
        python -m venv --copies .venv
        source .venv/bin/activate
        pip install -r app/requirements.txt --require-virtualenv --disable-pip-version-check
        export DEVELOPMENT_ENV='True'
        flask --app app/main.py run --reload --host=0.0.0.0
    depends_on:
      tailwind:
        condition: service_healthy
    ports:
      - "5000:5000"

  tailwind:
    image: node:20-alpine
    volumes:
      - ../..:/workspaces:cached
    working_dir: /workspaces/${repobasepath}
    entrypoint: ["/bin/sh", "-c"]
    command: # npx tailwindcss doesn't work with --watch, so instead doing a loop. TODO: update TWCSS to v4 (could fix)
        - | 
          npm install
          echo 'plugins:' > .prettierrc
          echo '  - "prettier-plugin-tailwindcss"' >> .prettierrc
          cp .gitignore .prettierignore
          export DEVELOPMENT_ENV='True'
          while [ $? ]; do npx tailwindcss -i ./app/static/css/style.css -o ./app/static/css/tailwind.css; sleep 10; done
    healthcheck:
      test: ["CMD", "ls", "app/static/css/tailwind.css"]
      interval: 5s
      timeout: 2s
      retries: 5