version: '3.8'
services:
  dev:
    image: mcr.microsoft.com/devcontainers/base:ubuntu
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity

  web:
    image: mcr.microsoft.com/devcontainers/python:3.11
    volumes:
      - ../..:/workspaces:cached
    working_dir: /workspaces/${repobasepath}
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        python -m venv .venv
        source .venv/bin/activate
        pip install -r app/requirements.txt --require-virtualenv --disable-pip-version-check
        export DEVELOPMENT_ENV='True'
        flask --app app/main.py run --reload
    ports:
      - "5000:5000"
    depends_on:
      tailwind:
        condition: service_healthy

  tailwind:
    image: node:20-bullseye
    volumes:
      - ../..:/workspaces:cached
    working_dir: /workspaces/${repobasepath}
    entrypoint: ["/bin/sh", "-c"]
    command:
        - | 
          npm install
          echo 'plugins:' > .prettierrc
          echo '  - "prettier-plugin-tailwindcss"' >> .prettierrc
          cp .gitignore .prettierignore
          export DEVELOPMENT_ENV='True'
          npx tailwindcss -i ./app/static/css/style.css -o ./app/static/css/tailwind.css --watch
    depends_on: 
      - dev
    healthcheck:
      test: ["CMD", "ls", "app/static/css/tailwind.css"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
