version: '3.8'
services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity

  web:
    image: mcr.microsoft.com/devcontainers/python:3.11
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    ports:
      - "5000:5000"
    depends_on:
      - dev

  tailwind:
    image: node:20-bullseye
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    depends_on:
      - dev