---
tags: project
title: This website!
---

<div>
  <a
    href="https://github.com/SX-7/pers-website"
    target="_blank"
    aria-label="Link to pers-website github page"
  >
    {% include "svg-icons/github.njk" %}
  </a>
  <div class="line-through">
    <div class="py-2">
      That's right, this website is also being made by me, with it's code on
      GitHub!
    </div>
    <div class="pt-2">
      This is my first forray into frontend development, and in the end I
      decided to go with the easiest path possible:
    </div>
    <ol class="pb-2 list-inside list-disc">
      <li>
        Flask. I know it from a previous web project I was working on. Also
        Python, which I'm quite fond of.
        <em>Also</em>
        also, jinja templating, which I already use in Ansible, too.
      </li>
      <li>
        Tailwind for CSS. While it does have some bad rep for humongous class
        lists, it also abstracts CSS syntax into its own, nice system. Now I
        only have to deal with how CSS works, and inline styling gave me a lot
        of flexibility in this department.
      </li>
      <li>
        Alpine.js for JS stuff. Another tool focused on inline work, another
        help with learning something I don't really know.
      </li>
    </ol>
    <div class="py-2">
      Overall, it's a pretty fun experience, and is one of the things I will
      both finish (or have 1.0 release), and will be using after being done with
      it.
    </div>
    <div class="py-2">
      Oh, and do tell me if something's broke, I don't have 10 devices to test
      this page on :)
    </div>
  </div>
  <div class="py-2">
    NVM I redeployed this to Firebase Hosting with 11ty as SSG, and with
    Cloudflare proxy 😅
  </div>
</div>
