---
title: Python 3D engine
---

{% from "svg-icons.njk" import github %}
<div>
  <a
    href="https://github.com/SX-7/pxl3dengine"
    target="_blank"
    aria-label="Link to pxl3dengine github page"
  >
    {{ github() }}
  </a>
  Picture this:<br />
  - Python, one of the slowest languages.<br />
  -
  <a
    class="text-danube-400 hover:text-opium-500 underline"
    href="https://github.com/kitao/pyxel"
    target="_blank"
    >Pyxel</a
  >, a Python framework for PICO-8-inspired video game programming.<br />
  And now try to make a 3D video game engine on top of it. With rasterization.
  No scanlines, no ray casting, just your average OpenGL rendering pipeline.<br />
  <br />
  <div class="font-bold text-rangoon_green-400 text-center italic">
    ... yeah, it's definitely the funniest thing I've done.
  </div>
  <br />
  That being said, it was also an extremely interesting and educative
  experience. Pretty much the only reason it's now sitting at the backburner is
  me not feeling inspired enough to do something (3D game engine) that was done
  many, many times before. Also the energy drain of debugging minor issues, and
  having to come up with algorithmic solutions yourself is tremendous. The final
  nail in the coffin was the need to implement the rasterization part of the
  pipeline, also with custom shaders and all. It didn't fall victim to
  unreadable code as much as the speechbubble maker did, but having to
  restructure the code greatly in order to allow it to work with these new
  features left it in pretty much the same position, sadly. For the time being,
  at least.
  <div class="text-opium-500 text-center italic">
    <div class="p-2 grid grid-flow-col justify-evenly">
      <img
        src="/../images/projects/pyxel.png"
        alt="Viewport of app"
        class="rounded-md"
      />
      <img
        src="/../images/projects/pyxel-wire.png"
        class="rounded-md"
        alt="Same as before, but wireframe mode"
      />
    </div>
    While the face culling (and, not seen here, clipping) are implemented,
    custom shaders and z-clipping are not. Rasterization overall just doesn't
    exist, and while the pipeline stops just before it, doing it would require a
    lot of additional work in earlier stages.
  </div>
</div>
