---
active_page: Projects
id: 2
description: Listing of programming projects of the website author, alongside with short descriptions and links
eleventyNavigation:
  key: Projects
  order: 2
---

{% extends "layout.njk" %}
{% block content %}
  <div
    class="gap-8 p-8 text-opium-200 flex w-full grow flex-col"
    v-cloak
    :class="{ 'vue-loaded': true }"
  >
    {%- for curr_element in collections.projects %}
      <project-card title="{{ curr_element.data.title }}">
        {{ curr_element.content | safe }}
      </project-card>
    {%- endfor %}
  </div>
{%- endblock %}
