---
title: Projects
description: Nigh-blank homepage with projects
eleventyNavigation:
  key: Projects
  parent: SX_7
layout: layout.njk
type: category
---

Whatever stuff I have cooked up over the years.<br />
Most are eh, but some are not.
