<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='../static/css/tailwind.css')}}"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <title>Main - SX_7</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='../static/favicon.ico')}}"
    />
  </head>

  <body class="h-screen">
    <div class="flex h-full flex-auto flex-row justify-center bg-slate-950">
      <div
        class="border-rangoon_green-300 bg-danube-500 hover:shadow-opium-500 m-8 cursor-zoom-out rounded-md border-2 border-solid p-8 text-center text-lg font-black text-slate-950 subpixel-antialiased transition duration-700 ease-in-out will-change-transform hover:scale-[0.98] hover:shadow-md"
      >
        Good morning! <br />
        And have a nice day!
      </div>
      <div
        class="border-rangoon_green-300 bg-danube-500 m-8 rounded-md border-2 border-solid p-8 py-4 text-center text-slate-950"
      >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam
        possimus, delectus rerum libero impedit consequatur aut assumenda velit
        dignissimos, dolorem quibusdam et minima corrupti odit architecto nemo
        quis. Sint, animi.
      </div>
    </div>
  </body>
</html>
