<!doctype html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='../static/css/tailwind.css')}}"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <title>Main - SX_7</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='../static/favicon.ico')}}"
    />
  </head>

  <body class="h-screen bg-slate-950">
    <div class="flex flex-row">
      <div class="min-w-1/12 flex flex-col gap-4 p-4">
        <div class="sticky h-0 -top-4 z-10">
          <div class="sticky left-0 top-0 h-16 w-full bg-slate-950"></div>
        </div>
        <button
          class="sticky top-4 z-10 rounded-md bg-danube-500 p-2 py-8 text-slate-950 subpixel-antialiased shadow-md shadow-rangoon_green-800 transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-danube-600 hover:shadow-lg hover:shadow-rangoon_green-700 active:translate-y-0 active:scale-90 active:bg-danube-700 active:shadow-md active:shadow-rangoon_green-600"
          onclick="document.documentElement.scrollTop=0; document.body.scrollTop=0"
        >
          Page Title/Info
        </button>
        <template
          x-data="{texts:['Lorem','ipsum','dolor','sit','amet','consectetur','adipisicing','elit']}"
          x-for="test_text in texts"
        >
          <button
            x-text="test_text"
            class="scale-90 rounded-md bg-danube-500 p-2 text-slate-950 subpixel-antialiased shadow-md shadow-rangoon_green-800 transition ease-in-out hover:-translate-y-1 hover:scale-100 hover:bg-danube-600 hover:shadow-lg hover:shadow-rangoon_green-700 active:translate-y-0 active:scale-[.85] active:bg-danube-700 active:shadow-md active:shadow-rangoon_green-600"
          ></button>
        </template>
      </div>
      <div class="flex flex-col gap-4 p-2 text-danube-50">
        <div class="font-black">Main Content title</div>
        <div>Content</div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
        <div>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero
          totam. Laborum, deserunt. Molestiae, quae vero. Numquam repellat
          debitis ea obcaecati assumenda itaque nisi mollitia eos, ratione,
          dolor ipsa voluptatibus?
        </div>
      </div>
    </div>
  </body>
</html>
