<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='../static/css/tailwind.css')}}"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <title>{{page}} - SX_7</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='../static/favicon.ico')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="h-screen bg-slate-950">
    <div class="flex flex-col" x-data="{navbarHeight: 0}">
      <div
        class="fixed top-0 flex w-full flex-row items-center justify-center gap-2 bg-danube-950 p-2 shadow-md shadow-rangoon_green-800"
        x-effect="navbarHeight = $el.getBoundingClientRect()['height']"
      >
        <!-- https://laracasts.com/discuss/channels/javascript/alpine-js-cant-x-bind-styles-inline -->
        {% for direction_data in [{'id': 0, 'name': 'Home', 'path': '/'}, {'id':
        1, 'name': 'Links', 'path': '/links'},{'id': 2, 'name': 'Projects',
        'path': '/projects'},{'id': 3, 'name': 'Socials', 'path':
        '/socials'},{'id': 4, 'name': 'Quartz', 'path': '/quartz'}] %}

        <div
          class="cursor-pointer text-md font-noto-sans select-none p-2 text-center subpixel-antialiased hover:text-danube-600 {{ 'text-opium-400' if direction_data['id']==id else 'text-danube-200' }}"
          @click="location.href='{{direction_data['path']}}'"
        >
          {{ direction_data['name'] }}
        </div>
        {% endfor %}
      </div>
      <div x-bind:style="`margin-top: ${navbarHeight}px;`">
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>

<script>
  //https://stackoverflow.com/questions/2387136/cross-browser-method-to-determine-vertical-scroll-percentage-in-javascript
  function getScrollPercent() {
    var h = document.documentElement,
      b = document.body,
      st = "scrollTop",
      sh = "scrollHeight";
    return (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight);
  }
</script>
