<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='../static/css/tailwind.css')}}"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <title>{{page}} - SX_7</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='../static/favicon.ico')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="preload"
      as="style"
    />
  </head>

  <body class="bg-slate-950" x-data="{navbarHeight: 0}">
    <div
      class="fixed top-0 z-10 flex w-full flex-row items-center justify-center gap-2 rounded-b bg-danube-950 p-2 shadow-md shadow-rangoon_green-800"
      x-init="navbarHeight = $el.getBoundingClientRect()['height']"
    >
      <!-- https://laracasts.com/discuss/channels/javascript/alpine-js-cant-x-bind-styles-inline -->
      {% for direction_data in [{'id': 0, 'name': 'Home', 'path': '/'}, {'id':
      1, 'name': 'Links', 'path': '/links'},{'id': 2, 'name': 'Projects',
      'path': '/projects'},{'id': 3, 'name': 'Socials', 'path':
      '/socials'},{'id': 4, 'name': 'Quartz', 'path': '/quartz'}] %}

      <div
        class="cursor-pointer text-md font-noto-sans select-none p-2 text-center subpixel-antialiased hover:text-danube-600 {{ 'text-opium-400' if direction_data['id']==id else 'text-danube-200' }}"
        @click="location.href='{{direction_data['path']}}'"
      >
        {{ direction_data['name'] }}
      </div>
      {% endfor %}
    </div>
    <div
      x-data="{footerHeight: 0}"
      class="absolute top-0 flex w-full h-screen flex-col pt-14"
      x-bind:style="`padding-top: ${navbarHeight}px`"
    >
      <div class="h-full w-full">{% block content %} {% endblock %}</div>
      <div
        x-effect="footerHeight=$el.getBoundingClientRect()['height']"
        class="bottom-0 flex w-full flex-row items-center justify-center gap-8 rounded-t bg-gradient-to-t from-slate-950 to-slate-900 p-2 text-gray-700 transition duration-1000 ease-in-out hover:text-gray-300"
      >
        <div class="">Made by SX_7</div>
        /
        <div>Cookies excluded</div>
        /
        <div>Remember to drink water :)</div>
      </div>
    </div>
  </body>
</html>

<script>
  //https://stackoverflow.com/questions/1720320/how-to-dynamically-create-css-class-in-javascript-and-apply
  function createCSSSelector(selector, style) {
    if (!document.styleSheets) return;
    if (document.getElementsByTagName("head").length == 0) return;

    var styleSheet, mediaType;

    if (document.styleSheets.length > 0) {
      for (var i = 0, l = document.styleSheets.length; i < l; i++) {
        if (document.styleSheets[i].disabled) continue;
        var media = document.styleSheets[i].media;
        mediaType = typeof media;

        if (mediaType === "string") {
          if (media === "" || media.indexOf("screen") !== -1) {
            styleSheet = document.styleSheets[i];
          }
        } else if (mediaType == "object") {
          if (
            media.mediaText === "" ||
            media.mediaText.indexOf("screen") !== -1
          ) {
            styleSheet = document.styleSheets[i];
          }
        }

        if (typeof styleSheet !== "undefined") break;
      }
    }

    if (typeof styleSheet === "undefined") {
      var styleSheetElement = document.createElement("style");
      styleSheetElement.type = "text/css";
      document.getElementsByTagName("head")[0].appendChild(styleSheetElement);

      for (i = 0; i < document.styleSheets.length; i++) {
        if (document.styleSheets[i].disabled) {
          continue;
        }
        styleSheet = document.styleSheets[i];
      }

      mediaType = typeof styleSheet.media;
    }

    if (mediaType === "string") {
      for (var i = 0, l = styleSheet.rules.length; i < l; i++) {
        if (
          styleSheet.rules[i].selectorText &&
          styleSheet.rules[i].selectorText.toLowerCase() ==
            selector.toLowerCase()
        ) {
          styleSheet.rules[i].style.cssText = style;
          return;
        }
      }
      styleSheet.addRule(selector, style);
    } else if (mediaType === "object") {
      var styleSheetLength = styleSheet.cssRules
        ? styleSheet.cssRules.length
        : 0;
      for (var i = 0; i < styleSheetLength; i++) {
        if (
          styleSheet.cssRules[i].selectorText &&
          styleSheet.cssRules[i].selectorText.toLowerCase() ==
            selector.toLowerCase()
        ) {
          styleSheet.cssRules[i].style.cssText = style;
          return;
        }
      }
      styleSheet.insertRule(selector + "{" + style + "}", styleSheetLength);
    }
  }
</script>
