<!doctype html>
<html lang="en" style="scroll-behavior: smooth">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='../static/css/tailwind.css')}}"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <title>{{page}} - SX_7</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='../static/favicon.ico')}}"
    />
  </head>

  <body class="h-screen bg-slate-950">
    <div class="flex flex-row">
      <div
        class="min-w-1/12 flex flex-col gap-2 p-4"
        x-data="{ cover_offset: 1000, button_hide_treshold: 0, sidebar_width: $el.getBoundingClientRect()['width'] }"
        x-effect="sidebar_width = $el.getBoundingClientRect()['width']"
      >
        <div class="top-0 left-0 from-opium-900 to-50% bg-gradient-to-br fixed h-full" x-bind:style="`width: ${sidebar_width}px;`"></div>
        <div
          class="sticky top-4 z-10 aspect-video cursor-pointer overflow-hidden rounded-md bg-danube-500 p-2 py-8 text-center text-slate-950 subpixel-antialiased shadow-md shadow-rangoon_green-800 transition ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-danube-600 hover:shadow-lg hover:shadow-rangoon_green-700 active:translate-y-0 active:scale-90 active:bg-danube-700 active:shadow-md active:shadow-rangoon_green-600"
          @click="if(cover_offset>=$el.getBoundingClientRect()['height']){location.href='/';}else{document.documentElement.scrollTop=0; document.body.scrollTop=0;}"
          x-on:scroll.window="cover_offset = Math.max((1-getScrollPercent()*1.2),0)*$el.getBoundingClientRect()['height']"
          x-effect="button_hide_treshold = $el.getBoundingClientRect()['bottom']"
        >
          <div
            class="flex h-full w-full select-none flex-col content-center justify-center"
          >
            Home
          </div>
          <div
            class="select-none absolute left-0 flex h-full w-full flex-col content-center justify-center bg-opium-600 object-fill font-sans text-4xl font-black uppercase text-danube-50 subpixel-antialiased hover:bg-opium-700 active:bg-opium-800"
            x-bind:style="`top: ${cover_offset}px;`"
          >
            ↑
          </div>
        </div>
        <template
          x-data="{texts:[{name: 'Links', path: '/links'},{name: 'Projects', path: '/projects'},{name: 'Socials', path: '/socials'}]}"
          x-for="direction_data in texts"
        >
          <div
            x-data="{curr_bottom: $el.getBoundingClientRect()['bottom']}"
            x-text="direction_data['name']"
            class="scale-90 select-none rounded-md bg-danube-500 p-2 text-center text-slate-950 subpixel-antialiased shadow-md shadow-rangoon_green-800 transition ease-in-out hover:-translate-y-1 hover:scale-100 hover:bg-danube-600 hover:shadow-lg hover:shadow-rangoon_green-700 active:translate-y-0 active:scale-[.85] active:bg-danube-700 active:shadow-md active:shadow-rangoon_green-600"
            @click="location.href=direction_data['path']"
            @scroll.window="curr_bottom = $el.getBoundingClientRect()['bottom']"
            x-bind:class="curr_bottom>button_hide_treshold ? '' : 'invisible'"
          ></div>
        </template>
      </div>
      {% block content %} {% endblock %}
    </div>
  </body>
</html>

<script>
  //https://stackoverflow.com/questions/2387136/cross-browser-method-to-determine-vertical-scroll-percentage-in-javascript
  function getScrollPercent() {
    var h = document.documentElement,
      b = document.body,
      st = "scrollTop",
      sh = "scrollHeight";
    return (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight);
  }
</script>
