{% extends "layout.html" %} {% block content %}
<div class="flex flex-col gap-4 p-2 text-danube-50">
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
  <div>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, libero totam.
    Laborum, deserunt. Molestiae, quae vero. Numquam repellat debitis ea
    obcaecati assumenda itaque nisi mollitia eos, ratione, dolor ipsa
    voluptatibus?
  </div>
</div>
{% endblock %}
