{% extends "layout.html" %} {% block content %}
<div class="flex w-full flex-col gap-8 p-8 text-danube-50">
  <div
    class="flex w-full flex-col"
    x-data="{maxContentHeight: 0, currContentHeight: 20, isOpen: false}"
  >
    <div class="rounded-lg bg-danube-500 p-2"
    @click="isOpen = !isOpen">Title</div>
    <div
      class="mx-4 flex flex-col justify-end overflow-hidden ring-danube-700 rounded-b-md bg-slate-900 ring-2 ring-inset"
      :style="`height: ${currContentHeight}px`"
    >
      <div>
        <div class="p-2">
          Description<br />mulitline one even<br />ye<br />now I understand why
          graphical design is a job lol :pain:
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
