name: On PR workflow

on:
  pull_request:
    branches: [main]

jobs:
  quality-check:
    name: Lint, Build & Validate
    runs-on: ubuntu-latest
    steps:
      # 1. Get the code
      - name: Checkout Code
        uses: actions/checkout@v6

      # 2. Setup Node environment
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      # 3. Install dependencies
      - name: Install Dependencies
        run: npm ci

      # 4. Composite action, check package.json
      - name: Check Formatting 
        run: npm run test:quality
  
  spawn-preview:
    name: Create a temporary preview page
    runs-on: ubuntu-latest
    needs: quality-check
    permissions:
      contents: "read"
      id-token: "write" # Required for Workload Identity Federation
    env:
      PROJECT_ID: ${{ vars.GCL_PROJECT }}
    outputs:
      WEB_APP_URL: ${{ steps.create-preview.outputs.WEB_APP_URL }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install Node
        uses: actions/setup-node@v4
        with: 
          node-version: '20'
          cache: 'npm'
      - name: Install Dependencies
        run: npm ci
      - name: Build 11ty Site
        run: npm run build:prod
      - name: Authenticate with Google Cloud
        id: "auth"
        uses: "google-github-actions/auth@v3"
        with:
          token_format: "access_token"
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}
      - name: Create a preview version
        id: "create-preview"
        run: |
          npm install -g firebase-tools
          firebase \
            hosting:channel:deploy ${{ github.event.number }} \
            --project ${{ env.PROJECT_ID }} \
            --expires 24h \
            | grep -o "https://${{ env.PROJECT_ID }}--${{ github.event.number }}-.*\.web\.app" \
            | sed "s/^/WEB_APP_URL=/" \
            | cat >> "$GITHUB_OUTPUT"
  
  send-comment:
    name: Create an output comment
    runs-on: ubuntu-latest
    needs: spawn-preview
    permissions:
      issues: "read"
      pull-requests: "write"
    steps:
      - name: Find Comment - if exists
        uses: peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Preview version created!
      - name: Create comment with link to preview
        uses: peter-evans/create-or-update-comment@v5
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Preview version created! 
            [You can check it out here](${{ needs.spawn-preview.outputs.WEB_APP_URL }})
          edit-mode: replace

  check-lighthouse:
    name: Run lighthouse CI
    runs-on: ubuntu-latest
    needs: spawn-preview
    steps:
      - uses: actions/checkout@v6
      - name: Test Lighthouse CI score
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            ${{ needs.spawn-preview.outputs.WEB_APP_URL }}
            ${{ needs.spawn-preview.outputs.WEB_APP_URL }}/projects
            ${{ needs.spawn-preview.outputs.WEB_APP_URL }}/links
          runs: 3
          uploadArtifacts: true
          configPath: .github/workflows/lighthouserc-pr.json
  
  post-lighthouse:
    name: Create comment with link to lighthouse score page
    runs-on: ubuntu-latest
    needs: check-lighthouse
    if: ${{ !cancelled() }}
    permissions:
      issues: "read"
      pull-requests: "write"
    steps:
      - name: Find Comment - if exists
        uses: peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Workflows ran!
      - name: Create comment with link to preview
        uses: peter-evans/create-or-update-comment@v5
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Workflows ran!
            [You can check them out and get lighthouse ci results from run#${{ github.run_id }} page ](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
          edit-mode: replace
  
  link-check:
    name: Check the links for any dead ones
    runs-on: ubuntu-latest
    needs: spawn-preview
    steps:
      - uses: actions/checkout@v6
      - name: Run link-check
        uses: filiph/linkcheck@2.0.23
        with:
          arguments: "${{needs.spawn-preview.outputs.WEB_APP_URL}} -e --skip-file .github/workflows/linkcheck-ignore.txt"

  visual-test:
    name: Run reg-suit to check for visual regressions
    runs-on: ubuntu-latest
    needs: spawn-preview
    permissions:
      pull-requests: write
    env:
      WEB_APP_URL: ${{needs.spawn-preview.outputs.WEB_APP_URL}}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: |
          npm ci
          npx playwright install --with-deps --only-shell
      - name: Take Screenshots
        run: |
          mkdir screenshots
          node config/vis-cap.js
      - name: Authenticate with Google Cloud
        id: "auth"
        uses: "google-github-actions/auth@v3"
        with:
          token_format: "access_token"
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.SERVICE_ACCOUNT }}
      - name: Run reg-suit
        run: npx reg-suit run
